
.rating{
  color: grey;
  padding-bottom: 3%;
}

.fa-solid.fa-star.full{
  color: yellow;
}

#popup {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.popup-content {
  display: flex;
  flex-direction: column;
  text-align: center; /* Alinea el contenido al centro */
}

.popup-content textarea {
  width: 100%;
  margin-bottom: 10px;
  height: 15vh; /* Establece la altura del textarea */
  resize: none; /* Evita que el textarea sea redimensionable */
}

.popup-content button {
  margin: 5px;
}


.commenttext{
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  margin-top: 0;
}


#tittleSpan3{
  color: #93D497;
}

#submitComment{
  margin-left: auto;
}

.boton-generico{
  padding: 5px ;
  color: #93D497;
  background-color: white;
  font-weight: bold;
  border: 2px solid #93D497; /* Grosor y color del borde */
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.boton-generico:active {
  transform: scale(0.9); /* Reduce el tamaño del botón al hacer clic */
}
