<div id="popup">
  <div class="popup-content">
    <h2 class="commenttext" >¿Has leído <span id="tittleSpan3">{{ data.titulo }}</span>?</h2>
    <p class="commenttext">Deja tu opinión para ayudar a otros lectores</p>
    <div class="rating">
      @for(i of [].constructor(5); track i; let index = $index){
        <span class="fa-solid fa-star" [class.full]="index < selectedStars"  (click)="rate(index + 1)" ></span>
      }
    </div>
    <textarea id="commentInput" placeholder="¿Qué te ha parecido?"></textarea>
    <button id="submitComment" class="boton-generico">Enviar</button>
  </div>
</div>
