.bookPreview p{
  margin-top: 0;
}
.result{
  margin-top: 1%;
}
.bookPreview b{
  text-align: center;
}

.bookCover {
  width: 100%;
  height: auto;
}

.bookInfo {
  margin-top: 1%;
}

.bookPrice {
  font-weight: bold;
  text-align: center;
  padding: 3%;
}

