.bookPreview p{
  margin-top: 0;
}
.result{
  margin-top: 1%;
}
.bookPreview b{
  text-align: center;
}

.bookCover {
  width: 100%;
  height: auto;
}

.bookInfo {
  margin-top: 1%;
}

.bookPrice {
  font-weight: bold;
  text-align: center;
  padding: 3%;
}

.cart-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2% 2%;
}

.item-image {
  width: 10%;
  height: 90%;
  margin-right: 3%;
  margin-left: 2%;
  background-color: #625f5f;
  border: 1px solid #090707;
}
.item-details {
  display: flex;
  flex-grow: 1; /* Hacer que la sección de detalles crezca */
}

.item-details-left {
  display: flex;
  flex-direction: column; /* Apilar elementos verticalmente */
  margin-right: 4%; /* Agregar espacio entre la columna de texto y los botones */
}

.item-title {
  font-weight: bold;
  margin: 0;
}

.item-author {
  color: #888;
  margin: 0;
}
.item-price {
  font-size: 1.1em;
  margin-top: 5%;
}

.item-controls-container {
  display: flex;
  justify-content: flex-end; /* Alinear los botones a la derecha */
  border: 1px solid #77CF7C ; /* Estilo del rectángulo */
  padding: 0.75%; /* Espacio alrededor de los botones */
  border-radius: 5%; /* Borde redondeado */
  margin-top: auto;
  margin-bottom: auto;
}


.item-controls button {
  background: none;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  margin-left: 5px; /* Agregar margen entre los botones */
}

.item-controls .item-quantity {
  padding: 0 5px;
  font-size: 1em;
}

.fa-solid.fa-trash {
  color: red;
  margin: auto 2% auto auto;
}

.fa-solid.fa-trash:hover {
  cursor: pointer;
}
