
main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}
.content{
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
}
.formulario {
    display: flex;
    flex-direction: column; /* Alinear los elementos verticalmente */
    background-color: #fff;
    border-radius: 1%;
    padding: 5%;
    text-align: center;
    margin: auto;
}

.container {
    display: flex;
    justify-content: center;
    margin: auto;
}

.container button {
    padding: 2% 3%;
    border: none;
    cursor: pointer;
    width: 40vh;
    box-sizing: border-box;
}

button.active {
    background-color: #77CF7C;
    color: #fff;
}

.btn-inicio {
    background-color: #77CF7C;
    color: #fff;
    width: 50%; /* Ancho del botón igual al 100% del contenedor */
    border: none;
    padding: 2%; /* Ajustar padding según sea necesario */
    border-radius: 3%;
}

.btn-inicio:hover {
    color: black;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    margin-bottom: 2%;
    padding: 2%; /* Establecer padding para los campos de entrada de texto */
    border: none;
    background-color: #E5E5E5;
    width: 100%;
    box-sizing: border-box;
}

.inactive:hover {
    background-color: #9bea9f;
    color: white;
}
.loginmsg{
    color: red;
    margin: auto;
}

@media only screen and (max-width: 1100px) {
    .content{
        margin-top: 15%;
    }
    .container{
        width: 90%;
    }
    input[type="text"],
    input[type="email"],
    input[type="password"] {
        padding: 3%;

    }
    .container button {
        padding: 3% 3%;
    }
    .btn-inicio {
        background-color: #77CF7C;
        padding: 3%;
    }
}

@media only screen and (max-width: 500px) {
    .content{
        margin-top: 15%;
    }
    .container{
        width: 90%;
    }
    input[type="text"],
    input[type="email"],
    input[type="password"] {
        padding: 5%;

    }
    .container button {
        padding: 5% 3%;
    }
    .btn-inicio {
        background-color: #77CF7C;
        padding: 5%;
    }
}
