
.book{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    flex: 1;
}
.picture{
    width: 25%;
    height: 400px;
}
.sinopsis{
    padding-left: 20px;
    flex: 1;
}

.title-sinopsis{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #7B757E;
    font-size: 130%;
    font-weight: bold;
}

.editorial{
    margin: 0;
    color: #7B757E;
    font-size: 80%;
}

.rating{
    display: flex;
    color: yellow;
    font-size: 12px;
    flex-direction: row;
    padding-top: 2px;
}

.nOpiniones{
    margin: 0;
    color: #7B757E;
    font-size: 80%;
    padding-left: 5px;
}
.leerMas{
    color: #93D497;
    cursor: pointer;
}

.compra {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.datosprecio {
    display: flex;
}

.precio {
    font-weight: bold;
    font-size: 120%;
    padding: 5px;
    margin-bottom: 5px;
}

.envio {
    margin-left: auto; /* Empuja el elemento hacia la derecha dentro de su contenedor */
    margin-top: auto;
    padding: 5px;
    font-size: 70%;
}

.boton-generico{
    padding: 5px ;
    color: #93D497;
    background-color: white;
    font-weight: bold;
    border: 2px solid #93D497; /* Grosor y color del borde */
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.boton-generico:active {
    transform: scale(0.9); /* Reduce el tamaño del botón al hacer clic */
}

.envio-datos{
    display: flex;
    width: 70%;
}

.fa-solid.fa-truck{
    color: #93D497;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
}
.fecha-deliver{
    color: #342E37;
    font-size: 70%;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}

.line {
    height: 2px;
    background-color: black;
    flex-grow: 1;
}

.centered-word {
    margin: 0 20px;
    color: #342E37;
    font-size: 130%;
}

.ficha-tecnica{
    display: flex;
    width: 100%
}
.subdiv{
    flex: 1;
}

.caracteristicas{
    flex: 1;
    font-weight: bold;
}


.opiniones{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
}

.puntuacion-circulo{
    width: 100px; /* Ajusta el tamaño del círculo según tus necesidades */
    height: 100px;
    border-radius: 50%; /* Hace que el borde sea redondeado, creando un círculo */
    background-color: #93D497; /* Puedes cambiar el color de fondo según tus preferencias */
    text-align: center; /* Centra el contenido del párrafo dentro del círculo */
    line-height: 100px;
    font-size: 200%;
    font-weight: bold;
    margin: 0;
}

#boton-opinion{
    width: 200px;
}
.puntuacion-con-estrellas{
    display: flex;
    flex-direction: row;
}

.estrellas-con-opiniones-column{
    margin-bottom: auto;
    margin-top: auto;
    padding: 5px;
}


#rating-opiniones{
    font-size: 20px;
}

.profile-picture{
    width: 10%;
    height: 10%;
    border-radius: 50%;
    border: 1px solid gray;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin-bottom: auto;
    margin-right: 10px;
}

.cajon-comentarios{
    display: flex;
    padding-top: 10px;
}

.username{
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: bold;
    color: #7B757E;
}
