main {
    margin-top: 2rem;
}
.carousel-title {
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: center;
}

.carousel-arrow {
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
    width: 5%;
    display: flex;
}

.carousel-arrow.right{
    justify-content: start;
}

.carousel-arrow.left{
    justify-content: end;
}

.carousel-content {
    display: flex;
    justify-content: center;
    width: 100%;
}

.carousel-content img {
    width: 100%;
    height: auto;
    padding: 0.5em;
}

.books {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    margin-top: 1rem;
}

.books img {
    width: 14%;
    height: auto;
    padding: 0.5em;
}

.recommended-books, .new-releases {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.recommended-books.title, .new-releases.title {
    display: flex;
    justify-content: start;
    padding-left: 1.3rem;
}

.recommended-books.title h1, .new-releases.title h1{
    font-size: 1rem;
}

.recommended-books.title a, .new-releases.title a{
    color: red;
}

.recommended-books-content, .new-releases-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin-top: 0;
    width: 100%;
}

.recommended-books-content img, .new-releases-content img{
    width: 14%;
    height: auto;
    padding: 0.5em;
}


