<div class="tittle">
  <h1 class="main-tittle-category">Libros de <span id="selectedCategory">{{categories[selectedCategoryIndex]}}</span> </h1>
</div>

<article class="main-category">

  <section class="ajustes">
    <p class="titulo-categorias">Categorías</p>
    <ul>
      @for(category of categories;track category; let i = $index){
        <li><a  routerLink="/category/{{categories[i]}}"  [class.selected]="selectedCategoryIndex===i">{{ category }}</a></li>
      }
    </ul>
<!--    <p class="titulo-categorias">Filtros</p>-->
<!--    <div class="menu">-->
<!--      <div class="item">-->
<!--        <p class="parametro">Idioma</p>-->
<!--        <i class="fa-solid fa-angle-down icono"></i>-->
<!--      </div>-->
<!--      <div class="item">-->
<!--        <p class="parametro">Precio</p>-->
<!--        <i class="fa-solid fa-angle-down icono"></i>-->
<!--      </div>-->
<!--    </div>-->
  </section>

  <section class="ajustes-mobile">
    <div class="filter-container">
      <div class="dropdown">
        <button id="Categorias" class="dropbtn" [matMenuTriggerFor]="categorymobile">{{categories[selectedCategoryIndex]}}</button>
        <mat-menu #categorymobile="matMenu">
        <div id="myDropdownCategory" class="dropdown-content">
          @for(category of categories;track category; let i = $index){
            <a routerLink="/category/{{categories[i]}}" >{{category}}</a>
          }
        </div>
        </mat-menu>
      </div>
    </div>
  </section>

  <section class="resultados">
    <div class="sort">
      <p style="padding-left: 10px; margin-right: auto; width: 100%">{{books.length}} resultados</p>
      <p class="ordenar">Ordenar por: </p>
      <div class="dropdown">
        <button class="dropbtn" [matMenuTriggerFor]="menu">{{sorts[selectedSortIndex]}}</button>
        <mat-menu #menu="matMenu">
          <div id="myDropdown" class="dropdown-content">
            @for(sorts of sorts;track sorts; let i = $index){
              <a (click)="selectSort(i)" >{{sorts}}</a>
            }
          </div>
        </mat-menu>
      </div>
    </div>
    <div class="books">
      @for(book of books; track book) {
        <app-book [book] = "book" [cartView]="false"></app-book>
      }
    </div>
  </section>
</article>
