<article class="book">
  <img id="cover" class="picture" src="{{book.imagen}}" alt="cover libro">
  <section class="sinopsis">
    <h1 id= "tittle" style="margin: 0px;" >{{book.titulo}}</h1>
    <p id="editorial" class="editorial">{{book.editorial}} {{book.isbn}}</p>
    <div class="rating">
      <p id="reviews" class="nOpiniones"> {{book.nReviews}} opiniones</p>
    </div>
    <p class="title-sinopsis">Sinopsis de <span id="tittleSpan">{{book.titulo}}</span> </p>
    <p id="sinopsisinfo">{{book.sinopsis}}</p>
  </section>

  <section class="compra">
    <div class="datosprecio">
      <p id="price" class="precio">{{book.precio}}€</p>
      <p class="envio">Envío gratis a partir de 999,99€</p>
    </div>
    <button class="boton-generico">Añadir a la cesta</button>
    <div class="envio-datos">
      <i class="fa-solid fa-truck"></i>
      <p class="fecha-deliver">Recíbelo el lunes 2 de febrero de 2026</p>
    </div>
  </section>

</article>

<div class="container">
  <div class="line"></div>
  <div class="centered-word">Ficha técnica</div>
  <div class="line"></div>
</div>
