
<main class="flex-container">
  <div class="left-margin">
  </div>
  <div class="content">
    <input type="text" [(ngModel)]="searchTerm" (keydown.enter)="filterBooks()" placeholder="Buscar libro">
    <button (click)="filterBooks()">Buscar</button>
    <p class="result">{{filteredBooks.length}} resultados para <strong>{{ searchTerm }}</strong></p>
    <div class="books">
      @for(book of filteredBooks; track book) {
        <app-book [book] = "book" [cartView]="false"></app-book>
<!--        <button (click)="addToCart(book.id)">Añadir al carrito</button>-->
      }
    </div>
  </div>
  <div class="right-margin">
  </div>
</main>
