<div class="flex-container">
  <div class="left-margin">
  </div>
  <div class="content">
    <h1>Tu pedido</h1>
    <main class="shopping-cart-container">
      <article class="items-container">
        @for(cartItem of this.cartItems; track cartItem) {
          <app-cart-item [cartItem]= "cartItem"></app-cart-item>
            <hr>
        }
      </article>
      <article class="checkout-container">
        <h2>Resumen de la compra</h2>
        <section class="summary">
          <div class="summary-item">
            <p>Subtotal:</p>
            <div class="summary-price">{{ subtotal | currency }}</div>
          </div>
          <div class="summary-item">
            <p>Gastos de Envío:</p>
            <div class="summary-price">2.99€</div>
          </div>
          <div class="summary-item total">
            <p>Total:</p>
            <div class="summary-price total-price">{{ total | currency }}</div>
          </div>
          <button class="pay-button">Pagar</button>
        </section>
      </article>
    </main>
  </div>
  <div class="right-margin">
  </div>
</div>
