.author{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}
.picture{
    width: 25%;
    height: auto;
    object-fit: contain;
}
.information{
    padding-left: 20px;
}

.bookPreview{
    width: 100%;
    text-align: center;
    font-size: 70%;
    padding: 5px;
    cursor: pointer;
}

.bookCover{
    width: 100%;
    object-fit: contain;
}

.books{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}

p{
    text-align: justify;
}
@media screen and (max-width: 600px) {
    .author{
        display: flex;
        flex-direction: column;
        column-count: 1;
    }
}